<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.elundstrom.e4.rcp.testbed.todo.ui.fragment.fragment"
         point="org.eclipse.e4.workbench.model">
     <fragment 
			uri="app_model/fragment.e4xmi"/>
	<fragment 
			apply="initial"
			uri="app_model/layoutfragment.e4xmi"/>
   </extension>

</plugin>
