<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="testbed"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Testbed">
         <property
               name="appName"
               value="Testbed">
         </property>
         <property
             name="lifeCycleURI"
             value="bundleclass://org.elundstrom.e4.rcp.testbed/org.elundstrom.e4.rcp.testbed.internal.lifecycle.E4LifeCycle"/>
      </product>
   </extension>
   
   <extension
      id="MainAppModel"
      point="org.eclipse.e4.workbench.model">
      <processor
      		beforefragment="false"
            class="org.elundstrom.e4.rcp.testbed.internal.ModelProcessor">
      </processor>
	</extension>

</plugin>
